@keyframes h2{
    from{
        left:-200px
    }
    to{
        left:200px
    }
    }
    @keyframes mainimg{
        from{
            right:-350px
        }
        to{
            right:100px
        }
    }
    @keyframes bg{
        0%{
            background-size:0% 50%
        
        }
    50%{
        background-size:100% 50%
    }
  100%{
    background-size:0% 50%
  }  
    
}
@keyframes nav{
    from{
        transform: translateY(-100%)
    }
}